/*
selector {property:value;}
*/

h1{
  font-family: 'Raleway';
}

h2{
  font-family: 'Roboto';
}
/*target-boxing*/
/* div{
  border: 1px solid red;
} */

/*logo*/

.TheLogo{

}

#logo1{
  margin-left: 10%;
  height: 100px;

}
/*logo end*/

/* Formatting */
/* in particular the head */
/* Overhaul 12-5-2018 */
.WhoAmI{

  margin: auto;

}
.grid-container{
  /* margin-top: 50px; */
}
.txtwhite, h1, h2, h3, h4, p{
  color: #F2F2F2;
}
.whereAreYou{
    font-size: 40px;
}

/* End Formatting */

/* index page */
.comingSoon{
     outline: 20px solid #cc00cc;
    outline-offset: -20px;
}

/* portfolio page */
.thumbz{
  padding-top: 20px;
}
.txtThumb{
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
}
.txtDesc{
  margin-top: 10px;
  /* text-align: center; */
  font-size: 30px;

}
.hlHover{
  color: #cc00cc;
}

.portfolioSpacing{
  padding-top: 40px;

}

.ctrImgWide{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.ctrImgTall{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

/* dogs */
.dogPhoto{
  padding-top: 40px;
  /* transform: rotate(90deg); */
}

/*nav{
  border: 1px solid red;
}*/

.menuButton{
  /* border: solid 2px red; */
  font-size: 20px;
  margin-top: 10px;



}

/*li{
  font-style:
}*/


#indexpage .subnavigation li:nth-child(1){
  background-color: rgba(245, 245, 255, 1);

}
#portfoliopage .subnavigation li:nth-child(2){
  background-color: rgba(245, 245, 255, 1);

}
#aboutpage .subnavigation li:nth-child(3){
  background-color: rgba(245, 245, 255, 1);

}
#contactpage .subnavigation li:nth-child(4){
  background-color: rgba(245, 245, 255, 1);

}

/* .target{
  color: blue;
  font-style: red;
} */

.orbit-slide{
  /*margin: 10px;*/
}

.intro_slider{
  margin-left: 16px;
}

body{
  /*background: repeating-linear-gradient(red, yellow 10%, green 20%);*/
  font-family: 'Roboto', 'Arial', sans-serif;
  /* background-image: url('../images/paw_7.png'); */
  background-color: black;
  padding-top: 25px;
  padding-bottom: 25px;

}

/*contact page*/

.tealbg {background-color: teal;

}
form{
  margin: 20px;
}



/* splash page*/
.bigPaw{
  /* opacity: 0.2; */
  /* filter: alpha(opacity=50); */

  margin: 20x;
  padding: 20px;

  position: fixed;
  /* background-image: url(../images/paw_icon_big.svg); */
  background-repeat: no-repeat;
  width: 100%;
  text-align: center;

}

/*index page*/
.introText{
  font-size: 20px;
  margin-top: 2em;
  margin-left: 32px;
}

/*about page*/
.aboutBorder{
    /* font-style: 20px white; */

    /* outline: 1px solid rgb(87, 181, 87); */
    /* border: 7px solid white; */

    /* background: rgb(87, 181, 87); */
    margin: 10px 5px 10px 5px;
    padding: 10px 5px 10px 5px;
}

.aboutText{
    font-size: 20px;
    /* margin-right: 120px; */
}

/*portfolio page*/
.portfolioImage{
  /*border: 10px solid blue;*/
  /*margin: 10px 10px 10px 10px;*/
  padding: 10px 10px 10px 10px;

}
